<template>
  <footer class="info">
    <p>Double-click to edit a todo</p>
    <p>
      Written by <a href="http://evanyou.me">
        Evan You
      </a> extended by <a href="https://twitter.com/niklas_l">
        Niklas Lochschmidt
      </a>
    </p>
  </footer>
</template>
